:root {
  --btns-500: #f4f3e7;
  --btns-700: hsl(55, 37%, 96%);
  --texts: black;
  --screen: #f2f7f8;
  --container: #495253;
  --solar: #16252b;
  --solar-div: #708486;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: inherit;
}

body {
  height: 100vh;
  width: 100vw;
  display: grid;
  justify-items: center;
  align-items: center;
}

.container {
  width: min(400px, 80vw);
  aspect-ratio: 2/3;
  background-color: var(--container);
  border-radius: 0.625em;
  display: grid;
  grid-template-rows: 1fr 2fr 4fr;
  gap: 0.2em;
  padding: 0.3em;
}

.header {
  display: flex;
  justify-content: space-between;
}

.brand {
  color: white;
  padding: 0.325em;
  display: grid;
  justify-content: center;
  text-align: center;
  width: 50%;
  height: 100%;
}

.brand__name {
  font-weight: 900;
  font-size: min(5vw, 1.4em);
}

.brand__id {
  font-size: min(3vw, 0.825em);
}

.brand__category {
  font-size: min(3.5vw, 1em);
}

.solar {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: var(--solar);
  gap: 0.2em;
  padding: 0.2em;
  border-radius: 0.2em;
  width: 50%;
  height: auto;
}

.solar__div {
  background-color: var(--solar-div);
  border-radius: 0.2em;
}

.screen {
  background-color: var(--screen);
  width: 100%;
  height: 100%;
  border-radius: 0.3em;
  display: grid;
  grid-template-rows: 2fr 3fr;
}

.screen > * {
  padding: 0.3em;
  overflow: auto;
  text-align: right;
}

.screen__top {
  font-size: clamp(1em, 5vw + 1em, 1.3em);
}

.screen__bot {
  display: grid;
  grid-template-columns: 0.2fr 0.8fr;
}

.screen__bot {
  font-size: clamp(1.4em, 5vw + 1em, 1.825em);
}

.btns__container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 0.2em;
}

.btns {
  font-size: clamp(1em, 5vw + 1em, 2em);
  background-color: var(--btns-500);
  border-radius: 0.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.btn-0 {
  grid-column: 1/3;
}

.btns:hover {
  background-color: var(--btns-700);
}

.btn-mul {
  font-size: clamp(0.8em, 5vw + 1em, 1.2em);
}
